--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/

fastapi==0.109.2
uvicorn[standard]==0.27.1
python-multipart==0.0.9
opencv-python-headless==4.9.0.80
numpy==1.26.4
insightface==0.7.3
onnxruntime-gpu==1.17.1
onnx
